body{
    margin: 0;
    padding: 10rem 10rem;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    min-height: 100vh;
    background-color: #dcdcdc;
}
.controller{
    display: flex;
    justify-content: center;
    border: dotted;
}
.text{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10%;
    margin-bottom: 2rem;
}
 /*------ KIRI ------*/
.kiri{
    
    display: flex;
    background-color: #b8d7e9;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    padding: 5rem 2rem;
    justify-content: center;
    
    
}
.kiri-atas{
    display: flex;
    position: absolute;
    top: 16rem;
}
.kiri-tengah{
    display: flex;
    justify-content: space-between;
}
.padtomb{
    padding: 2rem;
}
.kanan{
    display: flex;
    background-color: white;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    padding: 5rem 2rem;
    justify-content: center;
}
.tombol{
    
    background-color: whitesmoke;
    border: groove;
    border-radius: 10%;
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    padding: 1rem;
}

.nama{

}